@charset "UTF-8";

@media screen and (min-width: 768px){
    span#menuzinho {
        display: none;
    }

    div {
        display: block;
    }

    div > ul > li {
        display: inline-block;
    }

    main {
        width: 768px;
    }
}